<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Formulario de Facturación</title>
<link rel="stylesheet" href="/css/estilos_pagoluz.css">
</head>
<body>
    <%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>
    <form id="facturacion-form">
        <label for="num-recibo">Número de Recibo:</label>
        <input type="text" id="num_recibo" name="num_recibo"  required  >

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required value="<%= nombre %>">

        <label for="domicilio">Domicilio:</label>
        <input type="text" id="domicilio" name="domicilio" required>

        <label for="tipo_servicio">Tipo de Servicio:</label>
        <select id="tipo_servicio" name="tipo_servicio" required>
            <option value="">Domicilio...</option>
            <option value="domestico">Domestico</option>
            <option value="comercial">Comercial</option>
            <option value="industrial">Industrial</option>
        </select>

        <label for="kilowatts">Kilowatts Consumidos:</label>
        <input type="text" id="kilowatts" name="kilowatts" required value="<%=kilowatts%>">

        <button type="submit">Enviar Información</button>
        <button id="limpiarBtn">Limpiar</button>
    </form>
    <% let subtotal = 0, impuesto = 0, descuento = 0, costo =0 %>
    <% if(tipo_servicio == 'domestico'){ %>
        <% subtotal = kilowatts * 1.08; %>
        <% costo= 1.08 %>
    <% }else if(tipo_servicio == 'comercial'){ %>
        <% subtotal = kilowatts * 2.5; %>
        <% costo= 2.5 %>
    <% }else if(tipo_servicio == 'industrial'){ %>
        <% subtotal = kilowatts * 3; %>
        <% costo= 3 %>
    <% } %>
    <% impuesto = subtotal * 0.16; %>
    <% if (subtotal <= 1000) { %>
        <% descuento = subtotal * 0.10; %>
    <% } else if (subtotal <= 10000) { %>
        <% descuento = subtotal * 0.20; %>
    <% } else { %>
        <% descuento = subtotal * 0.50; %>
    <% } %>
    <% let totalpago= subtotal + impuesto - descuento %>
    
    <table>
        <thead>
            <tr>
                <td id="">Nombre</td>
                <td id="">Tipo de Servicio</td>
                <td id="">Kilowatts Consumidos</td>
                <td id="">Costo por Kilowatts</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> <%= nombre %> </td>
                <td> <%= tipo_servicio %> </td>
                <td> <%= kilowatts %> </td>
                <td> <%= costo %> </td>

            </tr>
        <thead>
            <tr>
                <td id=""> Subtotal </td>
                <td id=""> Impuesto </td>
                <td id=""> Descuento </td>
                <td id=""> Total a Pagar </td>
            </tr>
        </thead>
            <tr>
                <td> <%= subtotal.toFixed(2) %> </td>
                <td> <%= impuesto.toFixed(2) %> </td>
                <td> <%= descuento.toFixed(2) %> </td>
                <td> <%= totalpago %> </td>

            </tr>
        </tbody>
</table>
</body>
<%- include('partials/footer.ejs') %>
<script>
    document.getElementById('limpiarBtn').addEventListener('click', function() {

     document.querySelectorAll('input').forEach(function(e) {
        e.value = '';
    });

    document.querySelectorAll('td:not([id])').forEach(function(e) {
        e.textContent = '';
    });});

</script>
</html>
