/* Estilos para el formulario */
#facturacion-form {
  width: 80%;
  margin: 20px auto;
}

#facturacion-form label {
  display: block;
  margin-bottom: 5px;
}

#facturacion-form input[type="text"],
#facturacion-form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#facturacion-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#facturacion-form button:hover {
  background-color: #0056b3;
}

/* Estilos para la tabla */
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

table td,
table th {
  border: 1px solid #ccc;
  padding: 8px;
}

table thead {
  background-color: #f2f2f2;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
